*{padding: 0;margin: 0;font-family: arial;}
ul{list-style: none;}
.disclear{clear: both;}

/* start header */
.header{text-align: center;padding:10px;background: #333;color:#ddd;}
/* end header */

/* start navigation */
nav{background: #ccc;}
nav ul{text-align: center;padding: 10px;}
nav ul li{display: inline;}
nav ul li:after{content: " |"}
nav ul li:last-child:after{content: "";}
main{text-align: center;padding: 5px 0;border-bottom: 1px solid #eee}
/* end navigation */

/* start posts */
.posts{width: 70%;float: left;}
.posts article{background: #f1f1f1;margin: 10px;}
.posts article header{background: #e4e4e4;padding: 10px;}
.posts article header h3{}
.posts article header p:after{content: "."}
.posts article section{padding: 10px;}
.posts article section details{margin: 10px 0;}
.posts article section .longlink{margin: 10px 0;width: 200px;}
.posts article section code{display: block;width: 300px;padding: 10px;background: #fff;border:1px solid #ccc;margin-top: 10px;}
.posts article section .form5 input{display: block;margin: 5px 0;padding: 5px;}
/* end posts */

/* start sidebar */
aside {width: 30%;float: right;}
aside section{margin: 10px ;background: #eee;padding: 10px;}
aside section h3{background: #D1d1d1;padding: 8px;margin-bottom: 10px;}
aside section ul li{line-height: 1.6;}
/* end sidebar */
/* start footer */
footer{background: #333;padding: 10px;text-align: center;color:#fff;}
/* end footer */
